@page
@model ColorWeb.Pages.DefaultModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">

    <div id="idBalls"></div>
    <br />
    <div>
        <span id="idAPIUrl"></span>
        <span id="idErrorText" style="margin-left: 30px; color: red;"></span>
    </div>
    <div style="margin-top: 10px;">
        <button id="idButStart" onclick="doStart(); return false;">Start</button>
        <button id="idButReset" style="display:none;" onclick="window.location.href='/default'; return false;">Reset</button>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            doDefaultReady();
        });
    </script>
}





