@page
@model ColorWeb.Pages.DefaultModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">

    <div id="idBalls"></div>
    <br />
    <div>
        <div id="idAPIUrl" style="float:left;"></div>
        <div id="idErrorText" style="float:left; margin-left: 30px; color: red;"></div>
        <div style="float:left; margin-left: 30px;"><button id="idButStart" onclick="doStart(); return false;">Start</button></div>
        <div style="float:left; margin-left: 30px;"><button id="idButReset" style="display:none;" onclick="window.location.href='/default'; return false;">Reset</button></div>
    </div>
    <br />
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            doDefaultReady();
        });
    </script>
}





